<manifest xmlns:android="http://schemas.android.com/apk/res/android"
xmlns:tools="http://schemas.android.com/tools"
package="com.example.getitdoneorelse">

    <application
    android:dataExtractionRules="@xml/data_extraction_rules"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/Gide"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/Theme.Gide"
    tools:targetApi="s">

        <activity
        android:name=".DismissActivity"
        android:exported="true"
        android:theme="@style/Theme.Gide.Dismiss">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
        android:name=".RandomActivity"
        android:exported="true"
        android:theme="@style/Theme.Gide.Random">
        </activity>
    </application>
</manifest>
