<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
xmlns:tools="http://schemas.android.com/tools">

    <!-- permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />

    <application
    android:allowBackup="true"
    android:dataExtractionRules="@xml/data_extraction_rules"
    android:fullBackupContent="@xml/backup_rules"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/Theme.GetItDoneOrElseApplication"
    tools:targetApi="31">

        <!--  activities -->
        <activity

        android:name=".settings.SettingsActivity"
        android:exported="true" />

        <!-- Main activity -->
        <activity
        android:name=".MainActivityApplication"
        android:theme="@style/Theme.Gide.CharacterSelection"
        android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>



        <!--  meta-data -->
        <meta-data
        android:name="preloaded_fonts"
        android:resource="@array/preloaded_fonts" />

        <!-- New activities -->
        <activity
        android:name=".artix.MainActivityArtix"
        android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
        android:name=".login.RegistrationScreen"
        android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
        android:name=".login.MainActivityMiki"
        android:exported="true" />

        <activity
        android:name=".natalie.DismissActivity"
        android:exported="true"
        android:theme="@style/Theme.Gide.Dismiss">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
        android:name=".natalie.RandomActivity"
        android:exported="true"
        android:theme="@style/Theme.Gide.Random" />

        <!-- New activities for ComicAlex series -->
        <activity android:name=".ComicAlexOneActivity"
                  android:theme="@style/Theme.Gide.CharacterSelection"/>
        <activity android:name=".ComicAlexTwoActivity"
                  android:theme="@style/Theme.Gide.CharacterSelection" />
        <activity android:name=".ComicAlexThreeActivity"
                  android:theme="@style/Theme.Gide.CharacterSelection" />
        <activity android:name=".settings.CharacterSelection"
                  android:theme="@style/Theme.Gide.CharacterSelection"/>

    </application>
</manifest>
