<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permissions and other application settings -->

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GetItDoneOrElseApplication"
        tools:targetApi="31">

        <!-- Existing activity declarations -->

        <activity
            android:name=".settings.CharacterSelection"
            android:exported="false" />

        <activity
            android:name=".settings.SettingsActivity"
            android:exported="false" />

        <!-- Ensure MainActivity has the LAUNCHER intent filter -->
        <activity
            android:name=".MainActivityApplication"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Correctly define ComicActivity -->
        <activity
            android:name=".ComicActivity"
            android:exported="false" />

        <!-- Existing activity declarations -->

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <!-- Existing activity declarations -->

        <activity
            android:name=".natalie.DismissActivity"
            android:exported="true"
            android:theme="@style/Theme.Gide.Dismiss">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".natalie.RandomActivity"
            android:exported="true"
            android:theme="@style/Theme.Gide.Random" />

        <!-- Existing activity declarations -->

    </application>
</manifest>
